:root {
  --background-color: #0072b0;
  --text: #ffffff;
  --text-btn: #ffffff;
  --text-title: #ffffff;
  --text-title-secundary: #ffffff;
  --button-color: #e07b3f;
  --link-color: #f69300;
  --span-color: #e07b3f;
  --paragraph-color: #ffffff;
  --card-color: #ffffff;
  --border-color: #9c9c9c;
  --text-card-h2: #ff5e00;
  --text-card: #a2a2a2;
  --borde-with: 5px;
}
/*---------------------------------------------------*/
/*    GERAl
/*---------------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background: var(--background-color);
  height: 100vh;
  font-family: "Open Sans", sans-serif;
}
.flex {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.interface {
  max-width: 1080px;
  margin: 0 auto;
}
.btn {
  width: 50%;
  padding: 8px 0;
  font-size: 18px;
  font-weight: bold;
  background: var(--button-color);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  color: var(--text-btn);
  transition: 0.3s ease;

  &:hover {
    background: var(--link-color);
    color: var(--text);
    transform: scale(1.1);
  }
}

span {
  color: var(--span-color);
}
a {
  text-decoration: none;
  color: var(--text);
}
hr {
  border: none; /* Remove a borda padrão */
  height: 2px; /* Define a altura da linha */
  background-color: #ffffff11; /* Cor da linha */
  margin: 15px 0; /* Espaçamento acima e abaixo da linha */
}

/*---------------------------------------------------*/
/*    header
/*---------------------------------------------------*/
header {
  padding: 20px 4%;
}
header .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header h1 {
  color: var(--text-title);
  font-size: 30px;
}
header nav {
  width: 100%;
  text-align: center;
}
header .logo img {
  width: 50px;
}
/*---------------------------------------------------*/
/*  main  
/*---------------------------------------------------*/
main {
  flex: 1;
  margin-top: 25px;
}
.conteudo-geral {
  gap: 50px;
}
/*---------------------------------------------------*/
/*  formulario  
/*---------------------------------------------------*/

.formulario {
  width: 70%;
  margin-top: 20px;
}

.formulario input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
}
/*---------------------------------------------------*/
/*  container-texto  
/*---------------------------------------------------*/
.container-texto {
  width: 50%;
  color: var(--text-title);
  gap: 25px;
}
.container-texto div.titulo {
  font-size: 15px;
  line-height: 35px;
}
.container-texto div.subtitulo {
  font-size: 16px;
  text-align: justify;
  color: var(--paragraph-color);
}
.container-texto div.orientacoes {
  font-size: 25px;
  color: var(--text-title-secundary);
  font-weight: 600;
}
/*---------------------------------------------------*/
/*  container-img
/*---------------------------------------------------*/
.container-img {
  width: 50%;
}
.container-img img {
  width: 100%;
  margin: 50px 0px 0px 50px;
}
/*---------------------------------------------------*/
/*  Section
/*---------------------------------------------------*/
section h2 {
  color: var(--text-title-secundary);
  text-align: center;
  font-size: 30px;
  margin: 30px 0px;
}
/*---------------------------------------------------*/
/*  Card
/*---------------------------------------------------*/
.card {
  display: flex;
  flex-direction: column;
  border-left: solid var(--borde-with) var(--border-color);
  width: 300px;
  height: 380px;
  border-radius: 30px 30px 30px 30px;
  background-color: var(--card-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.card-img {
  display: flex;
  justify-content: center;
  align-items: center; /* Ativa o Flexbox */
  overflow: hidden;
}
.card-img img {
  width: 150px; /* Largura da imagem */
  height: 150px; /* Altura da imagem */
  border-radius: 100%; /* Faz a imagem circular */
  object-fit: cover;
  margin-top: 30px;
}
.card h2 {
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: var(--text-card-h2);
  font-weight: 700;
}
.card h5 {
  font-size: 13px;
  margin: 0;
  padding: 0;
  text-align: center;
  color: var(--text-card);
}
.card p {
  font-size: 15px;
  margin: 0;
  padding: 0px;

  font-size: 15px;
  padding: 10px;
}
.card .unidade {
  align-items: start;
  margin-top: 25px;
  margin-left: 20px;
  color: var(--text-card);
}
.card .btn {
  margin-top: 25px;
  margin-left: 20px;
  justify-content: center;
  justify-items: center;
}

/*---------------------------------------------------*/
/*  candidatos
/*---------------------------------------------------*/
.candidatos {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 50px;
  justify-content: center;
}
footer {
  text-align: center;
  padding: 20px 0;
  font-size: 10;
  color: var(--text);
}

/*---------------------------------------------------*/
/*  Pagina final
/*---------------------------------------------------*/
.pagina-final {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 20px;
}
.pagina-final img{
  width: 300px;
}
.pagina-final p{
  color: var(--text-title-secundary);
  max-width: 500px;
  text-align: center;
}
.pagina-final h1{
  color: var(--text-title-secundary);
}

/*---------------------------------------------------*/
/*  responsividade
/*---------------------------------------------------*/
@media (max-width: 768px) {
  .container-img {
    visibility: hidden;
  }
}
